<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <h1>Add Person</h1>
    <form method="post" action="{% url 'add_person' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Add</button>
    </form>
    <a href="{% url 'show_people' %}">Show People</a>
</body>
</html>